# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sites/all/themes/selbert/.sass-cache

# Ignore MAMP mysql file (added by KB)
drupal/mysql