/**
* @file
*
* Stylesheet for Kate's styles
*
* Styles are organized using the SMACSS technique. @see http://smacss.com/book/
*/

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

//=============================================================================
// Begin Kate's theme rules
//=============================================================================

/*Take pause, play and arrow controls off of flexslider*/
.noControls{
  .flex-pauseplay a {display: none;}
  .flex-direction-nav {display: none;}
}

.noBorder{
  border: none;
  box-shadow: none; 
}

#block-views-new-arrival-sliders-block{
  @include orange_corner;
  .view-content{
    margin-top: 1em;
  }
  .views-field{
  	margin: 0 1em;
  }
  @extend .noControls;
  .flexslider{
  	@extend .noBorder;
  }

}


/*
* Overwrite flexslider module styles. See flexslider.css
*/

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin-top: 1em; padding: 0; border:none;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: auto; display: block;}



/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0 0 60px; 
	
	position: relative; 
	
	}  







