/**
* @file
*
* Stylesheet for Kate's styles
*
* Styles are organized using the SMACSS technique. @see http://smacss.com/book/
*/

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

//=============================================================================
// Begin Kate's theme rules
//=============================================================================

.smallerHeading{
  @include adjust-font-size-to (14px);
  text-transform: uppercase;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: $padding-amount;
  word-break: keep-all;
}
.smallerBlueHeading{
  @extend .smallerHeading;
  color: $dark_blue_bg;
}
.smallerBlackHeading{
 @extend .smallerHeading;
  color: black;
}

/*Take pause, play and arrow controls off of flexslider*/
.noControls{
  .flex-pauseplay a {display: none;}
  .flex-direction-nav {display: none;}
}

.noBorder{
  border: none;
  box-shadow: none; 
}

#block-views-new-arrival-sliders-block{
  @include orange_corner;
  .view-content{
    margin-top: 1em;
  }
  .views-field{
  	margin: 0 1em;
  }
  .views-field-field-resource-type{
   color: red;
}
.smallerBlueHeading{
  @extend .smallerHeading;
  color: $dark_blue_bg
  }
  @extend .noControls;
  .flexslider{
  	@extend .noBorder;
  	margin: 0 0 60px; 	
	position: relative; 
  }

}






