/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";
// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */
@include font-face("SocialicoRegular", font-files("socialico/socialico-webfont.woff", "socialico/socialico-webfont.ttf"), "socialico/socialico-webfont.eot");
@include font-face("icomoon", font-files("icomoon/fonts/icomoon.woff", "icomoon/fonts/icomoon.ttf"), "icomoon/fonts/icomoon.eot");
#headerWrap {
	 @include background-image(linear-gradient(left, $tufts-classic, $tufts-info-blue)); 
}

#main
 {
	//@include background-image(linear-gradient(left, $tufts-classic, $tufts-info-blue));
}

#content {



  .titleContainer{
    margin-top: $vertical-content-amount;
    border-top: 2px $heading-orange solid;
    background-color:white;
    padding-left: $padding-amount;
    @include box-shadow(gray 1px 1px 7px);
    h1 {
      @include adjust-font-size-to (40px);
      color: $heading-orange;
      font-weight: normal;
      text-transform: uppercase; 
    }
  }

  .breadcrumb{
    @include adjust-font-size-to (12px);
    a {color: $active-menu-gray; 
      text-decoration: none;
    }
  }
  .title {

    background-color:white;
    margin-bottom: $vertical-content-amount;

  }



}


/***
 * SIDEBARS
 ***/

 .sideAsk{
  @extend .backgroundFontIcon;
  background-color: $light-gray;
  color: black;
  padding: 0 5% 10% 5%;
  
 
  ul {
    margin-left: 0;
    padding-left:0;

  li {
    list-style-type: none;
    //margin-left: 2%;
    //padding-left:2%;
  }
 }
}
 .region-sidebar-first {



 	.block-menu-block {

 		@media all and (max-width:480px){
                display: none;
                }
 			
 		text-transform: uppercase;

 		ul {
 			margin: 0px;
 			padding: 0px;
 			color:black;
 			

 			li{
 				width: 80%;
 				list-style-type:none;
 				list-style-image:none;
 				margin:0px;
 				padding:0px;
 				border-bottom: 1px solid #ccc;
                float: left;       
 			
               a {
               	color:black;
               	text-decoration: none;
               	width: 100%;
               	
                line-height: 1.5em;
                
                display: inline-block; 
               }
               a:hover {
               	background-color: $light-gray;
               	font-weight: bold;
               }
 			}
 		}
 	}
 }
 .region-sidebar-second {
@include adjust-font-size-to (12px);


  .block-title{
  	background-color:$heading-orange;
 //@include background-image(linear-gradient($heading-orange, lighten($heading-orange, 20%)));
   //@include adjust-font-size-to (20px);
   //above didn't work, so resorting to:
   
   text-transform: uppercase;
   font-weight:normal;
    padding-left: 1%;  
      color: white;
      @include single-text-shadow;
    border-bottom: $heading-orange-border 1px solid;
    }

.field-content{
  padding: 2%;
}


}


/***
 * FOOTER
 ***/

	#footer {

  .empty{
    display:none;
  }
 
  @include adjust-font-size-to (12px);
  line-height: 1.5em;

  background-color: $footer-gray;
  color: $footer-text-gray;
  

    h3 {
      @include adjust-font-size-to (13px);
    color: white;
    text-transform: uppercase;
    //font-weight:normal;
    margin-bottom: 0px;
  }

  ul {
    margin:0 0 0 3%;
    padding:0 0 0 2%;
  }
  li a {
    color: $footer-text-gray;
    text-decoration: none;
    
  }

  .socialIcons{

      @extend .backgroundFontIcon;
      p{
      color: white;
      background-color: $dark-gray;}
      a:link{
        color:white;
        text-decoration: none;
      }
      a:visited{
        color:white;
        text-decoration: none;
      }
    }

}

@media all and (min-width: 480px)  {
   #footer{ 
   @include zen-clear();
   $zen-column-count: 7;
  $zen-gutter-width: 10px;
  @include zen-grid-container;
  width: 100%;

  div {
    background-image: url("../images/nav.png");
    background-repeat: no-repeat;

    background-position: right 0px top 10px;
    
   
    }
    div:last-child{
    background-image:none;
    
    }
  
  #footerLogo{/* Span 1 columns, starting in 1st column from left. */
   
  @include zen-grid-item(1, 1);
  //width: 15%

  }
  
  #otherFooterLibs {/* Span 1 columns, starting in 2nd column from left. */
  
  @include zen-grid-item(2, 2);
  ul {
    
  
  }

  //width: 25%;
  }

  #otherFooterTufts {/* Span 1 column, starting in 4th column from left. */
  @include zen-grid-item(1, 4);
  //width: 25%
  }
  
  #footerContact {/* Span 1 columns, starting in 2nd column from left. */
  @include zen-grid-item(1, 5);
  p.address{
    margin:0px;
  }
  p {
    margin:0.5em 0 0.5em 0;
  }
  //width: 25%;
  }

  #footerSocial {/* Span 2 columns, starting in 6th column from left. */
  //width: 25%;
  @include zen-grid-item(2, 6);
  
  }
  

}//endfooter large screen

}//end larger screen

