/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";
// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */
@include font-face("SocialicoRegular", font-files("socialico/socialico-webfont.woff", "socialico/socialico-webfont.ttf"), "socialico/socialico-webfont.eot");
@include font-face("icomoon", font-files("icomoon/fonts/icomoon.woff", "icomoon/fonts/icomoon.ttf"), "icomoon/fonts/icomoon.eot");
#headerWrap {
	 @include background-image(linear-gradient(left, $tufts-classic, $tufts-info-blue)); 

}

#main
 {
	//@include background-image(linear-gradient(left, $tufts-classic, $tufts-info-blue));
}

#content {



  .titleContainer{
    border-top: 2px $heading-orange solid;
    background-color:white;
    padding-left: $padding-amount;
    padding-bottom: $padding-amount/2;
    margin-bottom: $vertical-content-amount;
    @include box-shadow(gray 1px 1px 7px);
    h1 {
      @include adjust-font-size-to (40px);
      color: $heading-orange;
      font-weight: normal;
      text-transform: uppercase; 
    }
  }

  .breadcrumb{
    @include adjust-font-size-to (12px);
    a {color: $active-menu-gray; 
      text-decoration: none;
    }
  }
  .title {

    background-color:white;
    margin-bottom: $vertical-content-amount;

  }

  .tabs-primary{
    
     margin-bottom:0;
    
  }



}


 




/***
 * FOOTER
 ***/

	#footer {

    width:100%;
    margin-right:0;
  
  //when footer drops to vertical list, give bottom border


  .empty{
    @extend .element-invisible;
  }
 
  @include adjust-font-size-to (12px);
  line-height: 1.5em;

  background-color: $footer-gray;
  color: $footer-text-gray;
  

    h3 {
      @include adjust-font-size-to (13px);
    color: white;
    text-transform: uppercase;
    //font-weight:normal;
    margin-bottom: 0px;
    margin-top: 0px;
      margin-left: 5%;
      padding-top: 0px;
     }
  
    ul {
      
      margin-top:0;
    li a {
      color: $footer-text-gray;
        text-decoration: none;
        margin-left: 0;
        padding-left: 0;
    //margin: 0;
    //padding: 0;
    }
  }
  //style for when the footer is vertical
  @media all and (max-width:600px){
    div {
      border-bottom: 2px solid $dark-gray;
      margin-left:0;
      padding-left:0;
      
    }  
     div:last-child{
    border-bottom:none;
    }
    h3{
      margin-left:0;
      padding-left:0;
    }
    .socialIcons p {
      margin-bottom: 2em;
      
    }
    
  }
    div{
      @include leader();
    }
  .socialIcons{
      margin-left: 0px;
      padding-left: 0px;
      @extend .backgroundFontIcon;
      @extend .socialMediaBoxes;
      p{
      color: white;
      background-color: $dark-gray;
      }
      
      a:link{
        color: white;
        text-decoration: none;
      }
      a:hover {
        color: $heading-orange;
      }
      a:visited{
        color: white;
        text-decoration: none;
      }
    }

       
   #footerLogo{
   background-image: url("../images/tuftsLogo.jpg");
  

   
   //position: absolute;
   height: 150px;
   //background-position: top left;
   background-repeat: no-repeat; }

   padding-bottom: 2%;
  }

  //fix width for logo area to not overlap the background image
@media all and (min-width:600px) and (max-width:710px){
  #footerLogo{
    min-width: 20%;
  }
}
@media all and (min-width: 600px)  {
   #footerContent{ 
    margin-left:auto;
    margin-right:auto;
   @include zen-clear();
   $zen-column-count: 7;
  //$zen-gutter-width: 10px;
  @include zen-grid-container;
  width: 100%;

  div {
    
    margin-bottom: 5%;
    p {
      padding-left: 5%;

      }
    height: 150px;
    //padding-left: 10px;
    border-right: 1px solid $dark-gray;
    }
    
    div:last-child{
    border-right:none;


    //margin-right: 20px;
    
    }
  
  #footerLogo{/* Span 1 columns, starting in 1st column from left. */
   
  @include zen-grid-item(1, 1);

  //height: 150px;
  //width: 15%;
   //margin-right: 30px;
   
   //background-size: 80%;
  }
  
  #otherFooterLibs {/* Span 1 columns, starting in 2nd column from left. */
  
  @include zen-grid-item(2, 2);
 

  //width: 25%;
  }

  #otherFooterTufts {/* Span 1 column, starting in 4th column from left. */
  @include zen-grid-item(1, 4);
  //width: 25%
  }
  
  #footerContact {/* Span 1 columns, starting in 2nd column from left. */
  @include zen-grid-item(1, 5);
  p.address{
    margin:0px;
  }
  p {
    margin:0.5em 0 0.5em 0;
  }

  //width: 25%;
  }

  #footerSocial {/* Span 2 columns, starting in 6th column from left. */
  //width: 25%;
  @include zen-grid-item(2, 6);
  //give 1st icon a bigger margin once footer is horizontal
  .socialIcons p:first-of-type{
        margin-left: 5%;
      }
  
  }
  

}//endfooter large screen

}//end footer
