/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";
// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */
@include font-face("SocialicoRegular", font-files("socialico/socialico-webfont.woff", "socialico/socialico-webfont.ttf"), "socialico/socialico-webfont.eot");
@include font-face("icomoon", font-files("icomoon/fonts/icomoon.woff", "icomoon/fonts/icomoon.ttf"), "icomoon/fonts/icomoon.eot");
#headerWrap {
	 @include background-image(linear-gradient(left, $tufts-classic, $tufts-info-blue)); 

}



#content {
  /*given to provide white block and text shadow to titles of nodes*/
  .titleContainer{
    border-top: 2px $heading-orange solid;
    background-color:white;
    padding-left: $padding-amount;
    padding-bottom: $padding-amount/2;
    margin-bottom: $vertical-content-amount;
    @include box-shadow(gray 1px 1px 7px);
    h1 {
      @include adjust-font-size-to (40px);
      color: $heading-orange;
      font-weight: normal;
      text-transform: uppercase; 
    }
  }

  .breadcrumb{
    @include adjust-font-size-to (12px);
    a {color: $active-menu-gray; 
      text-decoration: none;
    }
  }
  .title {
    background-color:white;
    margin-bottom: $vertical-content-amount;

  }

}


 




