/**
* @file
*
* Stylesheet for Kate's styles
*
* Styles are organized using the SMACSS technique. @see http://smacss.com/book/
*/

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

//=============================================================================
// Begin Kate's theme rules
//=============================================================================

/**TEMPORARY STYLES - to be deleted when moving back into main scss
*
*DO NOT CHANGE THESE!!!
*
*/
//don't change
.smallerHeading{
  @include adjust-font-size-to (14px);
  text-transform: uppercase;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: $padding-amount;
  word-break: keep-all;
}
//don't change
.smallerBlueHeading{
  @extend .smallerHeading;
  color: $dark_blue_bg;
}
//don't change
.smallerBlackHeading{
 @extend .smallerHeading;
  color: black;
}

/*
*
* NEW STYLES, TO BE ADDED TO EXISTING SCSS FILE
*/
/*Take pause, play and arrow controls off of flexslider*/
.noControls{
  .flex-pauseplay a {display: none;}
  .flex-direction-nav {display: none;}
}

.noBorder{
  border: none;
  box-shadow: none; 
}

#block-views-new-arrival-sliders-block{
  @include orange_corner;
  .view-content{
    margin-top: 1em;
    margin-left:0.5em;
  }

  .flex-control-paging li a:hover{
    background:white;
  }

  .flex-control-paging li a.flex-active{
    background:white;
  }

  .flexslider .slides>li {
    
      margin-right: 0.25em;
  }


  .flexslider .slides>li:nth-of-type(even) {
      
      margin-right: 0.5em;
  }
  
  .views-field-field-image{
    width: 95%;
    
  }
  .views-field-field-resource-type{
   @extend .smallerBlueHeading;
  } 
  .views-field-title{
    color: $tufts_text_blue;
    //font-weight: bold;
  }
 
  /*override flexslider library defaults*/
  .flexslider{
    position: relative;
    margin: 0 0 60px; 
  	@extend .noBorder;
    @extend .noControls;
  }
  
  .flex-control-nav{
    position: absolute;
    width: 50%;
    bottom: 107%;
    left: 60%;
    
  }
}






