# Ignore configuration files that may contain sensitive information.
/drupal/sites/*/settings.local.php

# Ignore paths that contain user-generated content.
/drupal/sites/*/files
/drupal/sites/*/private

# Ignore cache directories
.sass-cache/

# Ignore database backups
*.sql*
