/**
 * @file
 * SMACSS Modules
 *
 * Adds modular sets of styles.
 *
 * Additional useful selectors can be found in Zen's online documentation.
 * https://drupal.org/node/1707736
 */

 

  


/**
 * Accessibility features.
 */

/* element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.element-invisible,
%element-invisible {
  @include element-invisible;
}

/* Turns off the element-invisible effect. */
%element-invisible-off {
  @include element-invisible-off;
}

.element-focusable,
%element-focusable {
  @extend %element-invisible;

  &:active,
  &:focus {
    @extend %element-invisible-off;
  }
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 */
#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/**
 * Branding header.
 */

/*push down to fit "Ask a Librarian" when it moves up to top for smallest screens*/
#header{
  @media all and (max-width: 525px) {
    margin-top: 1em;
  }

  /*hide my account link in header at smaller screens*/
  @media all and (max-width:600px) {
    #myAccount{
      @include element-invisible;
    }
  }
  
  #myAccount{
    margin-top: 1.5em;
    float:right;
    color: white;
    @extend .whiteLink;
  }

  /*site search in header - custom search module "search form" block*/
  #block-search-form { 
    visibility:hidden;

    /*at wider screens, fit within grid system*/
    @media all and (min-width:600px) {
      visibility:visible;
      /* Span 2 column, starting in 6th column from left. */
      @include zen-clear();
      $zen-column-count: 2;
      $zen-gutter-width: 5px;
      @include zen-grid-container;
      width: 29%;  
      float: right;
      margin-right:-8px;
      input[type="text"], textarea {
        z-index: 2;
        position: relative;
        margin: 0;
        background-color: $header_bg_blue;
        width: 100%;
        height: 2em;
        color: $header_search_black;  
      }
      .custom-search-button {
        float: right;
        position: relative;
        z-index: 999;
        height: 2em;
        margin-bottom: 0;
        margin-top: -2em;
      }
    }  
  }


  /* Wrapping link for logo. */
  .header__logo {
    float: left; /* LTR */
    margin: 0;
    padding: 0;
    margin-top: 0;
  }

  /* Logo image. */
  .header__logo-image {
    margin-top: 1em;
    vertical-align: bottom;
    margin-bottom: -2em;
  }

  /* Wrapper for website name and slogan. */
  .header__name-and-slogan {
    float: left;
  }

  /* The name of the website. */
  .header__site-name {
    margin: 0;
    @include adjust-font-size-to( $h1-font-size );
  }

  /* The link around the name of the website. */
  .header__site-link {
    &:link,
    &:visited {
      color: #000;
      text-decoration: none;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  /* The slogan (or tagline) of a website. */
  .header__site-slogan {
    margin: 0;
  }

  /* The secondary menu (login, etc.) */
  .header__secondary-menu {
    float: right; /* LTR */
  }

  /* Wrapper for any blocks placed in the header region. */
  .header__region {
    /* Clear the logo. */
    clear: both;
  }
  #site-slogan {
    @media all and (max-width:775px) {
      @include element-invisible;
    }
    @media all and (min-width:775px) {
    /* The slogan (or tagline) of a website */
      margin: 0 0 -3em 0;
      padding-top: 3em;
      font-size: 1em;
      color: white;
      font-weight: normal;
    }
  }
}
/**
 * Navigation bar.
 */

/*make sure "Ask a Librarian" bar can span entire nav header when it falls below the main menu.*/
#navigation {
  background-color:black;  
  margin-top: -24px;
  @media all and (max-width: 525px) {
    display: none;
  }
  @media all and (min-width: 525px) and (max-width:850px){
  padding-right: 0;
  }
  @media all and (min-width: 525px) and (max-width:875px){
    padding-left: 0px;
    margin-right: 0;
    margin-bottom: 3em;
  }
  
  /* Sometimes you want to prevent overlapping with main div. */
  /* overflow: hidden; */

  .block {
    margin-bottom: 0;
  } 

  .block-menu .block__title,
  .block-menu-block .block__title {
    @extend %element-invisible;
  }

  /* Main menu and secondary menu links and menu block links. */
  .links,
  .menu {
    margin: 0;
    padding: 0;
    text-align: left; /* LTR */
  }
  //first level
  ul { 
    position:relative;

    li {
      float: left;  
      list-style-image:none;
      list-style-type: none;
      padding-left:0.5em; 
      padding-right:0.5em; 
      text-align:left;
      height:100%;
      @media all and (max-width:525px){
        display: none;
      } 
      @media all and (min-width:525px) and (max-width:700px){
        @include adjust-font-size-to(14px);   
      }
      @media all and (min-width: 960px) {
        float:left;
      }
      
      a {
        display: block;
        padding-top: 0.75em;
        padding-right: 0.5em;
        padding-left: 0.5em;
        padding-bottom: 0.6em;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
      }
      a:hover {
        color: black;
        background-color: $dark-gray;
      }
    } //end 1st li    

    li.hover, li:hover {
      position: relative; 
    }     
          
    /*second level dropdown menu*/
    ul{
      visibility:hidden;
      z-index:9999;
      position: absolute;   
      width:200px;
      li {
        float: none;
        margin-left: -1px;
        background: black;
        text-align: left;
        width: 100%;
        padding: 0.25em;
        a {
          display: block;  /* IE 6 & 7 Needs Inline Block */
          width: 100%;
          color: white;
          text-transform: capitalize;
        }
        a:hover {
          color:black;
          width: 92%;
        }
      }//end 2nd li
    }//end 2nd ul
  }//end 1st ul

  ul.menu li:hover > ul 
  {
  visibility: visible; 
  }
}//end navigation
   
    
#askHeader{
  @extend .backgroundFontIcon;
  @extend .whiteLink;
  @include no-decoration;
  /*float "Ask a Librarian" to the top for smaller screens*/
  @media all and (max-width: 525px) {
    position: fixed;
    top: 0;
    background-color: black;
    width: 100%;
    margin-left:-10px;
    padding-left: 2em;
    max-height:40px;
    hr{
      display:none;
    }
    /*hide "I'm a..." and "My subject is " at smaller screens*/
    #audtopic{
      @include element-invisible;
    }
  }
    
  //styling for as long as the ask menu is showing
  @media all and (min-width:525px){
    float:right;
    div {
      display: inline;
    } 
  }

  /*styling for smaller screens, where the ask menu drops down below the main menu*/
  @media all and (min-width:525px) and (max-width:875px){
    background-color: $dark-gray;
    @include adjust-font-size-to(14px);
    width: 100%;
    margin: 0 0 4% 0;
    padding: 0 1%;
    div {
      margin: 2% 0 4% 0;
      padding-left: 6%;
    }
    hr {
      display: none;
    }        
  }

  /*for wider screens, fit into grid system*/
  @media all and (min-width:875px) {
  //* Span 2 column, starting in 6th column from left. */
    $zen-column-count: 2;
    $zen-gutter-width: 1px;
    @include zen-grid-container;
    width: 28.80%;
    background-color: $dark-gray;
    margin-top: 2px;
    margin-bottom:2px;
    margin-right:-7px;
    overflow:hidden;
    text-align:center;
    @include adjust-font-size-to(12px);
    line-height: 1.3em;
    div {
      display: inline;
    }

 
    #ask{
      @include zen-grid-item(2, 1);
      background-color: $dark-gray;
      padding-bottom: 1%;
      padding-top:0.75%;
      border-bottom: 1px solid black;
      color: white;
    }
    #audtopic{/* Span 2 column,  */
      @include zen-grid-item(2, 1);
      @include zen-nested-container();
      @include zen-clear();
      background-color:orange;
      border-right: 2px solid black;
      border-left: 1px solid black;
      width: 100%;
    }
    #aud{
      @include zen-grid-item(1, 1);
      border-right: 1px black solid;
      background-color: $dark-gray;
      padding-top: 1%;
      padding-bottom: 0.75%;
    }
    #topic{
      @include zen-grid-item(1, 2); 
      background-color: $dark-gray;
      padding-top: 1%;
      padding-bottom: 0.75%;
      color: white;
    }//end topic
  }//end media query
}//end askHeader



/**
 * Breadcrumb navigation.
 */
.breadcrumb {
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

/**
 * Titles.
 */
.page__title,          /* The title of the page. */
.node__title,          /* Title of a piece of content when it is given in a list of content. */
.block__title,         /* Block title. */
.comments__title,      /* Comment section heading. */
.comments__form-title, /* Comment form heading. */
.comment__title {      /* Comment title. */
  margin: 0;
}

/** 
*  Hours
**/
#mobile-hours {
  text-transform: uppercase;
  margin: 2%;
  padding: 2%;
  background-color: $green_bg;
  @include background-image(linear-gradient($green_bg, $lighter_green_bg)); 
  @include green_corner_bg;
  p {
    color: white;
  }
  @media all and (min-width:525px){
    display: none;
  }
}

/**
 * Messages.
 */
.messages {
  margin: rhythm(1) 0;
  padding: 10px 10px 10px 50px; /* LTR */
  background-image: inline-image("message-24-ok.png");
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *background-image: image-url("message-24-ok.png");
  }
  background-position: 8px 8px; /* LTR */
  background-repeat: no-repeat;
  border: 1px solid #be7;
}
.messages--status {
  @extend .messages;
  @extend %ok;
}
.messages--warning {
  @extend .messages;
  @extend %warning;
  background-image: inline-image("message-24-warning.png");
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *background-image: image-url("message-24-warning.png");
  }
  border-color: #ed5;
}
.messages--error {
  @extend .messages;
  @extend %error;
  background-image: inline-image("message-24-error.png");
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *background-image: image-url("message-24-error.png");
  }
  border-color: #ed541d;

}
.messages__list {
  margin: 0;
}
.messages__item {
  list-style-image: none;
}

/* Core/module installation error messages. */
.messages--error  p.error {
  color: #333;
}

/* System status report. */
.ok,
%ok {
  background-color: #f8fff0;
  color: #234600;
}
.warning,
%warning {
  background-color: #fffce5;
  color: #840;
}
.error,
%error {
  background-color: #fef5f1;
  color: #8c2e0b;
}

/**
 * Tabs.
 */

/* Basic positioning styles shared by primary and secondary tabs. */
%tabs {
  @include clearfix;
  @include background-image(linear-gradient(bottom, $tabs-border 1px, transparent 1px));
  /* IE 9 and earlier don't understand gradients. */
  list-style: none;
  border-bottom: 1px solid $tabs-border \0/ie;
  margin: rhythm(1) 0;
  padding: 0 2px;
  white-space: nowrap;
}
%tabs__tab {
  float: left; /* LTR */
  margin: 0 3px;
}
%tabs__tab-link {
  border: 1px solid #e9e9e9;
  border-right: 0;
  border-bottom: 0;
  display: block;
  @include adjust-leading-to(1);
  text-decoration: none;
}

/* Primary tabs. */
.tabs-primary {
  @extend %tabs;
  //added by KB so tabs would line up against content
  margin-bottom:0; 
}

.tabs-primary__tab {
  @extend %tabs__tab;
  @include border-top-radius(4px);
  @include single-text-shadow(#fff, 1px, 1px, 0);
  border: 1px solid $tabs-border;
  border-bottom-color: transparent;
  /* IE 9 and earlier don't understand gradients. */
  border-bottom: 0 \0/ie;
}
.tabs-primary__tab.is-active {
  @extend .tabs-primary__tab;
  border-bottom-color: $tabs-container-bg;
}

// We use 3 placeholder styles to prevent @extend from going selector crazy.
%tabs-primary__tab-link {
  @extend %tabs__tab-link;
  @include border-top-radius(4px);
  @include transition(background-color 0.3s);
  color: #333;
  background-color: #dedede;
  letter-spacing: 1px;
  padding: 0 1em;
  text-align: center;
}
%tabs-primary__tab-link-is-hover {
  background-color: #e9e9e9;
  border-color: #f2f2f2;
}
%tabs-primary__tab-link-is-active {
  background-color: transparent;
  @include filter-gradient(rgba(#e9e9e9, 1), rgba(#e9e9e9, 0));
  @include background-image(linear-gradient(rgba(#e9e9e9, 1), rgba(#e9e9e9, 0)));
  border-color: #fff;
}

a.tabs-primary__tab-link {
  @extend %tabs-primary__tab-link;

  &:hover,
  &:focus {
    @extend %tabs-primary__tab-link-is-hover;
  }
  &:active {
    @extend %tabs-primary__tab-link-is-active;
  }
}
a.tabs-primary__tab-link.is-active {
  @extend %tabs-primary__tab-link;
  @extend %tabs-primary__tab-link-is-active;
}

/* Secondary tabs. */
.tabs-secondary {
  @extend %tabs;
  font-size: .9em;
  /* Collapse bottom margin of ul.primary. */
  margin-top: -(rhythm(1));
}
.tabs-secondary__tab,
.tabs-secondary__tab.is-active {
  @extend %tabs__tab;
  margin: rhythm(1)/2 3px;
}

// We use 3 placeholder styles to prevent @extend from going selector crazy.
%tabs-secondary__tab-link {
  @extend %tabs__tab-link;
  @include border-radius(.75em);
  @include transition(background-color 0.3s);
  @include single-text-shadow(#fff, 1px, 1px, 0);
  background-color: #f2f2f2;
  color: #666;
  padding: 0 .5em;
}
%tabs-secondary__tab-link-is-focus {
  background-color: #dedede;
  border-color: #999;
  color: #333;
}
%tabs-secondary__tab-link-is-active {
  @include single-text-shadow(#333, 1px, 1px, 0);
  background-color: #666;
  border-color: #000;
  color: #fff;
}

a.tabs-secondary__tab-link {
  @extend %tabs-secondary__tab-link;

  &:hover,
  &:focus {
    @extend %tabs-secondary__tab-link-is-focus;
  }
  &:active {
    @extend %tabs-secondary__tab-link-is-active;
  }
}
a.tabs-secondary__tab-link.is-active {
  @extend %tabs-secondary__tab-link;
  @extend %tabs-secondary__tab-link-is-active;
}

/**
 * Inline styles.
 */

/* List of links generated by theme_links(). */
.inline {
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}

/* The inline field label used by the Fences module. */
span.field-label {
  padding: 0 1em 0 0; /* LTR */
}

/**
 * "More" links.
 */
.more-link {
  text-align: right; /* LTR */
}
.more-help-link {
  text-align: right; /* LTR */
}
.more-help-link a {
  background-image: inline-image("help.png");
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *background-image: image-url("help.png");
  }
  background-position: 0 50%; /* LTR */
  background-repeat: no-repeat;
  padding: 1px 0 1px 20px; /* LTR */
}

/**
 * Pager.
 */

/* A list of page numbers when more than 1 page of content is available. */
.pager {
  clear: both;
  padding: 0;
  text-align: center;
}
%pager__item {
  display: inline;
  padding: 0 0.5em;
  list-style-type: none;
  background-image: none;
}

.pager-item,      /* A list item containing a page number in the list of pages. */
.pager-first,     /* The first page's list item. */
.pager-previous,  /* The previous page's list item. */
.pager-next,      /* The next page's list item. */
.pager-last,      /* The last page's list item. */
.pager-ellipsis { /* A concatenation of several list items using an ellipsis. */
  @extend %pager__item;
}

/* The current page's list item. */
.pager-current {
  @extend %pager__item;
  font-weight: bold;
}

/**
 * Blocks.
 

/* Block wrapper. */
.block {
  margin-bottom: rhythm(1);
}

.block-views {
  background-color: white;
  @include box-shadow(gray 3px 3px 7px);
  &>div{
    padding: $padding-amount;
  }
}


/*Specific blocks*/

/*View blocks used in the highlights section on front page*/
#block-views-highlights-for-front-block {
  /*hide on small screens*/
  @media all and (max-width: 550px){
    display:none;
  }
  /*styling for as long as highlights block is showing*/
  clear: left;
  @extend .mainHeading;
  background-image:url("../images/largeGreenCorner.png");
  background-repeat: no-repeat;
  border-top: 6px solid $green_bg;
  .views-row{
    display: inline-block;
    width: 32%;
    vertical-align: top;
  }
  h2{
    background-color: $green_bg;
    max-width: 200px;    
  }
  
  /*style captions for the pictures, top headline, bottom tagline*/
  .highlight_headline{
    @extend .whiteCaptions;
    /*on smaller screens, let the tagline rest on top of the photo*/
    @media all and (max-width: 800px){
      color:black;
      height:30px;
      bottom: 0;
    }
    /*on wider screens, push the headline over the photo*/
    @media all and (min-width: 800px){
      margin-top: 6px;
      margin-bottom: -25px;  
      position: relative;
    }
  }
 
  .highlight_tagline{
    @extend .whiteCaptions;
    position: relative;
    /*on wider screens float the tagline over the photo*/
    @media all and (min-width: 900px){
      margin-top: -40px;
      max-width: 175px;
    }
    /*on smaller screens, let the tagline fall under the photo*/
    @media all and (max-width: 900px){
      margin-top: 0px;
      color: black;
    }
  }
  /*insert chevron on top of pictures*/
  .views-field-field-highlight-image:after{
    @extend .thickChevron;
    float: right;
    z-index: 99;
    position: relative;
    content:'\00BB';
    color: white;
    margin-top: -30px;
    margin-right: 2%;
  }
}

/*Recently arrived block - might be replaced by different slider. Placeholder for now*/
#block-views-recently-arrived-block-block {
  @include orange_corner;
  @media all and (max-width: 480px){
    @include element-invisible;
  }
  
  @media all and (min-width: 960px) {
    visibility: visible;
  }
}

#block-views-featured-resource-block-block{
  @include orange_corner;
  margin-top: 15px;
  margin-bottom: $vertical-amount;
  
  /*on mid-sized screens, make heading wider*/
  @media all and (min-width: 480px) and (max-width: 959px) {
    h2{
      width: 100%;
    }
  }
}
/*this is unfinished*/
#block-views-find-books-in-tisch-block-block{
  float: right;
}

#block-views-feed-recently-arrived-block{
  @include orange_corner;
  margin-bottom: $vertical-amount;
//see views-styles for control styling
}

/*
*PANELS
*
*/

.block-panels-mini{
  background-color: white;  
  &>div{
    padding: $padding-amount;
  }
  h2{
    padding-bottom: 0;
  } 
}

#block-panels-mini-call-number-infographic{
 @include box-shadow(gray 3px 3px 7px);
}

#block-panels-mini-happening-now {
  //make orange heading
  @include orange_corner;
  margin-bottom: $vertical-amount;
  @include box-shadow(gray 3px 3px 7px);
  background-color: white;
  @include no-decoration;

 //give each block a border, except for last
  .pane-block {
    margin-right: 1%;
    border-bottom: gray 1px solid;
  }
  &:last-child{
    border-bottom: none;
  }
  & div {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0;
    padding-bottom: 0;
 
  /*for twitter box:*/
    h2{
      @extend .smallerBlueHeading;
      margin-left: 3.6em;
      margin-bottom: 0;
      padding-bottom: 0;
    }

  }
  .views-field{
    display:inline-block;
    vertical-align: top;
  }
    /*bring in gray twitter web font icon*/
  .grayTwitterBird {
    @extend .backgroundFontIcon;
    @include no-decoration;
    /*make flush with heading*/
    margin-top: -0.6em;
    font-size: 200%;
    a:link {
      color: $dark-gray;
    }
    a:visited{
      color: $dark-gray;
    }
  
  }
  
  /*for the actual tweet*/
  .tweetContent{
    //not adhering to display:inline block so floating
    float: right; 
    margin-left: 3em;
    margin-top:-1.75em;
  }

  //for all posted dates in happening block
  .posted {
    margin-left: 3em;
    text-transform: lowercase;
    color: $footer-text-gray;
    font-style: italic;
    padding-bottom: 2%;
  }

  .eventTitle{
    margin-left: 2px;
    //fix title when the columns get skinny mid-screen size
    @media all and (min-width: 550px) and (max-width: 750px){
      margin-left: 3em;
      margin-top: -2em;
    } 
  }
  /*make blue container for month and date*/
  .eventDateSquare{
    max-height:40px;
    max-width: 40px;
    background-color: $blue_bg;
    @extend .whiteText;
    padding: 5px;
    line-height: 1em;
    text-align: center;
    margin-bottom: 5%;
    margin-top: -1em;
    .day{
      font-weight: 900;
      padding-top:5px;
      margin-bottom: 0;
      padding-bottom: 0;
      margin-left: 3px;
    }
    .month{
      font-size: 70%;
      font-weight: 100;
      margin-top:0;
      padding-top: 0;
    }
  }
  .happeningNewsTitle{
    margin-left: 3em;
  }
} 

#block-panels-mini-search-box-for-side-pages{
  margin-bottom: $vertical-content-amount;
  @include box-shadow(gray 3px 3px 7px);
}

/**
 * Menus.
 */
.menu__item.is-leaf {
  list-style-image: inline-image("menu-leaf.png");
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *list-style-image: image-url("menu-leaf.png");
  }
  list-style-type: square;
}
.menu__item.is-expanded {
  list-style-image: inline-image("menu-expanded.png");
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *list-style-image: image-url("menu-expanded.png");
  }
  list-style-type: circle;
}
.menu__item.is-collapsed {
  list-style-image: inline-image("menu-collapsed.png"); /* LTR */
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *list-style-image: image-url("menu-collapsed.png"); /* LTR */
  }
  list-style-type: disc;
}

/* The active item in a Drupal menu. */
.menu a.active {
  color: #000;
}

/**
 * Marker.
 */

/* The "new" or "updated" marker. */
.new,
.update {
  color: #c00;
  /* Remove background highlighting from <mark> in normalize. */
  background-color: transparent;
}

/**
 * Unpublished note.
 */

/* The word "Unpublished" displayed underneath the content. */
.unpublished {
  height: 0;
  overflow: visible;
  /* Remove background highlighting from <mark> in normalize. */
  background-color: transparent;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  /* A very nice CSS3 property. */
  word-wrap: break-word;
}
@if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
  .lt-ie8 .node-unpublished>*,
  .lt-ie8 .comment-unpublished>* {
    /* Otherwise these elements will appear below the "Unpublished" text. */
    position: relative;
  }
}

/**
 * Comments.
 */

/* Wrapper for the list of comments and its title. */
.comments {
  margin: rhythm(1) 0;
}

/* Preview of the comment before submitting new or updated comment. */
.comment-preview {
  /* Drupal core will use a #ffffea background. See #1110842. */
  background-color: #ffffea;
}

/* Wrapper for a single comment. */
.comment {

  /* Comment's permalink wrapper. */
  .permalink {
    text-transform: uppercase;
    font-size: 75%;
  }
}

/* Nested comments are indented. */
.indented {
  /* Drupal core uses a 25px left margin. */
  margin-left: $indent-amount; /* LTR */
}

/**
 * Forms.
 */

/* Wrapper for a form element (or group of form elements) and its label. */
.form-item {
  margin: rhythm(1) 0;

  /* Pack groups of checkboxes and radio buttons closer together. */
  .form-checkboxes & ,
  .form-radios & {
    /* Drupal core uses "0.4em 0". */
    margin: 0;
  }

  /* Form items in a table. */
  tr.odd &,
  tr.even & {
    margin: 0;
  }

  /* Highlight the form elements that caused a form submission error. */
  input.error,
  textarea.error,
  select.error {
    border: 1px solid #c00;
  }

  /* The descriptive help text (separate from the label). */
  .description {
    font-size: 0.85em;
  }
}

.form-type-radio,
.form-type-checkbox {
  .description {
    margin-left: 2.4em;
  }
}

/* The part of the label that indicates a required field. */
.form-required {
  color: #c00;
}

/* Labels for radios and checkboxes. */
label.option {
  display: inline;
  font-weight: normal;
}

/* Buttons used by contrib modules like Media. */
a.button {
  @include appearance(button);
}

/* Password confirmation. */
.password-parent,
.confirm-parent {
  margin: 0;
}

/* Drupal's default login form block. */
#user-login-form {
  text-align: left; /* LTR */
}

/**
 * OpenID
 *
 * The default styling for the OpenID login link seems to assume Garland's
 * styling of list items.
 */

/* OpenID creates a new ul above the login form's links. */
.openid-links {
  /* Position OpenID's ul next to the rest of the links. */
  margin-bottom: 0;
}

/* The "Log in using OpenID" and "Cancel OpenID login" links. */
.openid-link,
.user-link {
  margin-top: rhythm(1);
}
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* Un-do some of the padding on the ul list. */
  margin-left: -20px; /* LTR */
}
#user-login ul {
  margin: rhythm(1) 0;
}

/**
 * Drupal admin tables.
 */
form {
  th {
    text-align: left; /* LTR */
    padding-right: 1em; /* LTR */
    border-bottom: 3px solid #ccc;
  }
  tbody {
    border-top: 1px solid #ccc;
  }
  table ul {
    margin: 0;
  }
}
tr.even,
tr.odd {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  padding: 0.1em 0.6em;
}
tr.even {
  background-color: #fff;
}
@if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
  .lt-ie8 tr.even,
  .lt-ie8 tr.odd {
    th,
    td {
      /* IE doesn't display borders on table rows. */
      border-bottom: 1px solid #ccc;
    }
  }
}

/* Markup generated by theme_tablesort_indicator(). */
td.active {
  background-color: #ddd;
}

/* Center checkboxes inside table cell. */
td.checkbox,
th.checkbox {
  text-align: center;
}

/* Drupal core wrongly puts this in system.menus.css. Since we override that, add it back. */
td.menu-disabled {
  background: #ccc;
}

/**
 * Autocomplete.
 *
 * @see autocomplete.js
 */

/* Suggestion list. */
#autocomplete .selected {
  background: #0072b9;
  color: #fff;
}

/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */
.fieldset-legend {
  html.js .collapsible & {
    background-image: inline-image("menu-expanded.png");
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
      *background-image: image-url("menu-expanded.png");
    }
    background-position: 5px 65%; /* LTR */
    background-repeat: no-repeat;
    padding-left: 15px; /* LTR */
  }
  html.js .collapsed & {
    background-image: inline-image("menu-collapsed.png"); /* LTR */
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
      *background-image: image-url("menu-collapsed.png"); /* LTR */
    }
    background-position: 5px 50%; /* LTR */
  }
  .summary {
    color: #999;
    font-size: 0.9em;
    margin-left: 0.5em;
  }
}

/**
 * TableDrag behavior.
 *
 * @see tabledrag.js
 */
tr.drag {
  background-color: #fffff0;
}
tr.drag-previous {
  background-color: #ffd;
}
.tabledrag-toggle-weight {
  font-size: 0.9em;
}

/**
 * TableSelect behavior.
 *
 * @see tableselect.js
 */
tr.selected td {
  background: #ffc;
}

/*
*
*Specific pages

/**front page**/

/*Lower main content are 2 blocks side by side on wide screen home page*/
/*on smaller screens, let them be be vertical*/
.lowerMainContent {
  @media all and (max-width:750px){
    width: 100%;
    margin-bottom: $vertical-amount; 
  }
  /*line up horizontal for wider screens*/
  @media all and (min-width:750px){
  display: inline-block;
  vertical-align: top;
  width: 48%;
  }
  /*give them a blue block heading that includes background image, blueCorner that are manipulated
   below in specific selectors*/
  @extend .blueBlockHeading;
  background-color: white;
  h4 {
    margin: 0 0 2px 0;    
  }
  ul {
    list-style-type:none;
    margin: 0px 0px 1% 0px;
    padding:0px;
  }
}
/*For specific blocks in lowerMain Content*/
/**Top Resources Box**/
#block-boxes-top-resources{
  @extend .lowerMainContent;
  /*give corner image specific to block because of resizing issues for smaller screens*/
  background-image:url("../images/blueCorner.png");
  background-repeat: no-repeat;
  border-top: 2px solid $blue_bg;
  margin-bottom: $vertical-amount;
  h3{
    @extend .smallerBlackHeading;
    margin-top: 0.5em;
  }
  @include no-decoration;
  ul li a {
    line-height: 1em;
    padding: $padding-amount;
    margin-bottom:0;
  }
  @media all and (min-width:550px){
    margin-left: 0;
    margin-right:1%;
  }

  /*adjust background image for smaller screens*/
  @media all and (min-width:995px){
    background-position: 158.5px -1px;
  }
  h2{
    max-width: 157px;
  }
  /*adjust background and font for larger screens*/
  @media all and (max-width: 995px) {
    background-position: 146.5px -1px;
    h2{
      max-width: 145px;
    }
  }
}

/**Chat Box**/

/*chat box on front page*/
#block-boxes-chat-front{
  @extend .lowerMainContent;
  padding-bottom: 2%;
  @media all and (max-width:750px){
    display:none;
  }
}

/*chat box on side pages*/
.sideChat{
  @extend .blueBlockHeading;
  background-color: white;
  padding-bottom: 2%;
  @include box-shadow(gray 3px 3px 7px);
  @media all and (max-width:750px){
    display:none;
  }
}

/*All chats boxes*/
/*arrange blue corner background and deal with it at different screen widths*/
.lci_chat_load{
  border-top: 2px solid $blue_bg;
  @media all and (max-width: 750px){
    display:none;
  }
  @media all and (min-width: 750px) {
    overflow: auto; //keep chat button in
    background-image:url("../images/blueCorner.png");
    background-repeat: no-repeat;
    h2{
      margin-top:0px;
    }
  }
  
  @media all and (min-width:750px) and (max-width:995px){
    background-position: 211.5px -1px;
    h2{ max-width:210px;
    }
  }

  @media all and (min-width:995px){
    background-position: 233.5px -1px;
    h2{
      max-width: 232px;
    }
  }

  /*adjust the input fields*/
  .login_field {
    padding:0.5em;
    input {
      box-shadow: 0 0.5px 0.5px 0.5px #EBEBEB inset;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0.7em;
      width: 90%;
      border: 1px $blue_bg solid;
    }
    textarea{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      resize:none;
      border: 1px $blue_bg solid;
    }
  }//end login field

  .lc_button {
    background:$blue_bg;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    height: 2em;
    padding: 3px 5px;
    margin: 0 1em;
    vertical-align: middle;
    border:#85949B;
    float: right;
  }
  .send_button {
    margin:0.5em;
  }
}//end lci

/** Catalog Search**/
.node-3  {
  background-image: url("../images/background.png");
  box-shadow: none !important;
}

#quicktabs-home_page_search_box {
  @extend .backgroundFontIcon;
  background: $blue_bg;
  border: 3px solid $dark_blue_bg;
  background-image:url("../images/darkBlueCorner.png");
  background-image-color: $dark_blue_bg;
  background-repeat:no-repeat;
  background-position: right bottom;
  ul.quicktabs-tabs { 
    margin: 0;
    padding: 0;
    width: 100%;
    li {
      float: left;
      font-weight: normal;
      list-style: none;
      height: 2.5em;
      min-height: 2.6em;
      padding: 0;
      background: $dark_blue_bg;
      font-size: 1em;
      margin: 0px;
      a {
        color: $inactive_font;
        text-decoration: none;
        float: left;
        display: block;
        height: 2.5em;
        min-height: 2.6em;
        line-height: 2.6em;
        padding: 0 8px;
        text-decoration: none;
        position: relative;
      }//end a
    }//end li
    li.active {
      background: $blue_bg;
      box-shadow: none;
      a { 
        color: #fff;
        font-weight: normal;
      }//end a active
    }//end li active
  }//end ul

  .quicktabs_main  {
    @extend .whiteText;
    @extend .whiteLink;
    clear: both;
    padding: 20px 5px 0 5px;
    position: relative;
    background: $blue_bg;
    fieldset{
      border: none;
    }

    #otherCatalogs{    
      float: right;
      margin: 1% 0 3% 0;
      [data-icon]:before{
        color: white;
        @include single-text-shadow;
        @include opacity(.5);
      }//end data icon
    }//end other catalogs

    input#searcharg {
      @extend .searchBox;
    }
    input.radio{
      display: inline-block;
    }
    input#searchscope{
      position: relative;
    }
    #submit{
      @extend .submitButton;
      margin-top: -56px;
    }
    .help{
      float: right;
      margin-top: 1em;
      ul {
        @include horizontal-list;
        @include no-bullets;
        li {
          margin-left: 1em;
        }  //end li
      }//end ul
    }//end help
  }//end quicktabs main
}//end quicktabs

#boxes-box-catalog_searchbox_for_side{
  .boxes-box-content{
    color: $dark-gray;
    padding-top: 3%;
    background-color: lighten($light-gray, 25%);
    border: 1px solid $light-gray;
    padding-bottom: 5%;
  }

  input#searcharg {
    @extend .searchBox;
  }
  #submit{
    @extend .submitButton;
    margin-top: -41px;
  }
  #parameter {
    float: right;
  }
  fieldset{
    border: none;
  }
  .help{
    float: right;
    margin: 0 1em 0 0;
    ul {
      float: right;
      @include horizontal-list;
      @include no-decoration;
      li {
        margin-left: 1em;
      }//end li
    }//end ul
  }//end help
}//end catalog search for side


/**
 * Progress bar.
 *
 * @see progress.js
 */
.progress {
  font-weight: bold;

  .bar {
    background: #ccc;
    border-color: #666;
    margin: 0 0.2em;
    @include border-radius(3px);
  }
  .filled {
    background-color: #0072b9;
    background-image: image-url("progress.gif");
  }
}

/*SIDEBARS*/


.region-sidebar-first{
  .block-menu-block {
    background-color:none;
    background-image: none;
    @media all and (max-width:550px){
      display: none; 
    }  
    text-transform: uppercase;
    ul {
      margin: 0 0 0 -10px;
      padding: 0px;
      color:black;
      li:first-of-type{
          border-top: 1px solid #ccc;
      }
      li{
        float: left; 
        width: 100%;
        list-style-type:none;
        list-style-image:none;
        margin:0px;
        border-bottom: 1px solid #ccc;
        a {
          display: inline-block;
          color:black;
          text-decoration: none;
          width: 100%;
          padding: 0.5em;
          line-height: 1.25em;      
        }
        a:hover {
          background-color: $light-gray;
          font-weight: 550;
        }//end a
      }//end li
    }//end ul
  }//end block menu

  #frontLeftSide {
    padding-top: $padding-amount;
    @media all and (min-width: 1200px) { 
      margin-left:-10px;
    }
    div {
      padding-top: $vertical-content-amount;
      padding-left: $padding-amount;
      background-color: $light-gray;
      @include gray_corner;
      margin-bottom: $vertical-amount;
      margin-left:0px;
      h2{
        @extend .smallerBlackHeading;
        margin-top: -2px;
      }
      background-color: $light-gray;
      color:black;
      ul{
        @include no-bullets
      }
      .item-list{
        @extend .blackLink;
        background-image:none;
        ul{
          margin:0;
          padding: 0;
        }
        li{
          padding:0;
        }
      }//end itemList
    }//end div
  }//end frontLeftSide
}//end sidebar

.frontHours {
  @extend .backgroundFontIcon;
  @extend .blackLink;
  padding-bottom: 15%;
  @media all and (max-width: 550px){
    display: none;
  }

  h2{
    background-image: url("../images/clock.png");
    background-repeat: no-repeat;
    background-position: top right;
  }
  p{
    color: white;
    margin:0;
    padding:0;
  }
}

.sideAsk{
  @extend .backgroundFontIcon;
  padding-bottom: 2%;
  @include gray_corner;
  h2{
    height: 25px;
    background-image: url("../images/chatBg.png");
    background-repeat: no-repeat;
    background-position: top right;
    line-height: 1.5em;
  }
  ul{
    padding-left:$padding-amount;
  }
}

#block-screen-scrape-available-technology{
  padding-bottom: 7%;
  h2{
  background-image: url("../images/keyboard.png");
  background-repeat: no-repeat;
  background-position: top right;
  }
}

.screen-scrape__item-count {
  @extend .whiteText;
  @extend .shadow;
}


//end 1st sidebar
//2nd sidebar:
@media all and (min-width: 480px) and (max-width: 959px) {
  .two-sidebars .region-sidebar-second .block{
    padding-left: 0;
    padding-right: 0;
    margin-left: 1em; //need to change to be flush with first sidebar
    h2.block__title.block-title {
      background-color:blue;
    }
  }
}

.region-sidebar-second {

  .block-title{
    text-transform: uppercase;
    font-weight:normal;
    padding-left: 1%;  
    color: white;
    @include single-text-shadow;
    
  }
}

/***
*   SPECIFIC NODES & CONTENT TYPES
***/

/*KB added*/
.node-basic-content {
  background-color: white;
  margin-bottom: $vertical-content-amount;
  @include box-shadow(gray 3px 3px 7px);
  h2 {
    color: darken($tufts-classic, 20%);
    text-transform: uppercase;
    padding-left: $padding-amount;
    padding-right: 0;
  }
  
  .field-name-body{
   padding-left: $padding-amount;
   float: left;
  }
  .field-name-field-2nd-column-body{
    /*at wider screens, float second content beside primary body field*/
    @media all and (min-width: 480px) {
      float: right;
      z-index: -10;
      padding-right: $padding-amount;
      h5 {
        padding-top: $base-line-height * 3;
      }
    }
  }
}

/***
 * FOOTER
 ***/
#footer {
  width:100%;
  margin-right:0;
  .empty{
    @extend .element-invisible;
  }
  @include adjust-font-size-to (12px);
  line-height: 1.5em;
  background-color: $footer-gray;
  color: $footer-text-gray;
  h3 {
    @include adjust-font-size-to (13px);
    color: white;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 5%;
    padding-top: 0px;
  }
  
  ul {   
    margin-top:0;
    li a {
      color: $footer-text-gray;
      text-decoration: none;
      margin-left: 0;
      padding-left: 0;
    }
  }
  /*style for when the footer is vertical*/
  @media all and (max-width:600px){
    div {
      border-bottom: 2px solid $dark-gray;
      margin-left:0;
      padding-left:0;      
    }  
    div:last-child{
      border-bottom:none;
    }
    h3{
      margin-left:0;
      padding-left:0;
    }
    .socialIcons p {
      margin-bottom: 2em;  
    }   
  }
  
  div{
    @include leader();
  }
  .socialIcons{
    margin-left: 0px;
    padding-left: 0px;
    @extend .backgroundFontIcon;
    @extend .socialMediaBoxes;
    p{
      color: white;
      background-color: $dark-gray;
    }
      
    a:link{
      color: white;
      text-decoration: none;
    }
    a:hover {
      color: $heading-orange;
    }
    a:visited{
      color: white;
      text-decoration: none;
    }
  }

       
  #footerLogo{
    background-image: url("../images/tuftsLogo.jpg");
    height: 150px;
    background-repeat: no-repeat; }
    padding-bottom: 2%;
  }

  //fix width for logo area to not overlap the background image
  @media all and (min-width:600px) and (max-width:710px){
    #footerLogo{
      min-width: 20%;
    }
  }
  @media all and (min-width: 600px)  {
    #footerContent{ 
      margin-left:auto;
      margin-right:auto;
     @include zen-clear();
     $zen-column-count: 7;
    //$zen-gutter-width: 10px;
    @include zen-grid-container;
    width: 100%;
    div {
      margin-bottom: 5%;
      p {
        padding-left: 5%;
      }
      height: 150px;
      border-right: 1px solid $dark-gray;
    }
    
    div:last-child{
      border-right:none;
    }
  
    #footerLogo{/* Span 1 columns, starting in 1st column from left. */
      @include zen-grid-item(1, 1);
    }
  
    #otherFooterLibs {/* Span 1 columns, starting in 2nd column from left. */
    @include zen-grid-item(2, 2);
    }

    #otherFooterTufts {/* Span 1 column, starting in 4th column from left. */
    @include zen-grid-item(1, 4);
    }
  
    #footerContact {/* Span 1 columns, starting in 2nd column from left. */
      @include zen-grid-item(1, 5);
      p.address{
        margin:0px;
      }
      p {
        margin:0.5em 0 0.5em 0;
      }
    }

    #footerSocial {/* Span 2 columns, starting in 6th column from left. */
      @include zen-grid-item(2, 6);
      //give 1st icon a bigger margin once footer is horizontal
      .socialIcons p:first-of-type{
        margin-left: 5%;
      }
    }
  }//endfooter large screen
}//end footer

/**
 * Wireframes.
 */
.with-wireframes {
  #header,
  #main,
  #content,
  #navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  #footer,
  .region-bottom {
    outline: 1px solid #ccc;

    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
      .lt-ie8 & {
        /* IE6/7 do not support the outline property. */
        border: 1px solid #ccc;
      }
    }
  }
}