/**
* @file
*
* Stylesheet for Kate's styles
*
* Styles are organized using the SMACSS technique. @see http://smacss.com/book/
*/
/* Import Sass mixins, variables, Compass modules, etc. */
/**TEMPORARY STYLES - to be deleted when moving back into main scss
*
*DO NOT CHANGE THESE!!!
*
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/tisch_ocelot\/sass\/styles-kate\.scss}line{font-family:\0000322}}
.smallerHeading, .smallerBlueHeading, #block-views-new-arrival-sliders-block .views-field-field-resource-type, .smallerBlackHeading {
  font-size: 0.875em;
  line-height: 1.71429em;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 2%;
  word-break: keep-all;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/tisch_ocelot\/sass\/styles-kate\.scss}line{font-family:\0000331}}
.smallerBlueHeading, #block-views-new-arrival-sliders-block .views-field-field-resource-type {
  color: #0b3659;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/tisch_ocelot\/sass\/styles-kate\.scss}line{font-family:\0000336}}
.smallerBlackHeading {
  color: black;
}

/*
*
* NEW STYLES, TO BE ADDED TO EXISTING SCSS FILE
*/
/*Take pause, play and arrow controls off of flexslider*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/tisch_ocelot\/sass\/styles-kate\.scss}line{font-family:\0000347}}
.noControls .flex-pauseplay a, #block-views-new-arrival-sliders-block .flexslider .flex-pauseplay a {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/tisch_ocelot\/sass\/styles-kate\.scss}line{font-family:\0000348}}
.noControls .flex-direction-nav, #block-views-new-arrival-sliders-block .flexslider .flex-direction-nav {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/tisch_ocelot\/sass\/styles-kate\.scss}line{font-family:\0000351}}
.noBorder, #block-views-new-arrival-sliders-block .flexslider {
  border: none;
  box-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/tisch_ocelot\/sass\/styles-kate\.scss}line{font-family:\0000356}}
#block-views-new-arrival-sliders-block {
  background-image: url("../images/orangeCorner.png");
  background-position: 0 2em;
  background-repeat: no-repeat;
  /*override flexslider library defaults*/
}
@media all and (min-width: 550px) and (max-width: 690px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/tisch_ocelot\/sass\/styles-kate\.scss}line{font-family:\0000356}}
  #block-views-new-arrival-sliders-block {
    background-position: 0 1em;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/tisch_ocelot\/sass\/_mixins\.scss}line{font-family:\0000390}}
#block-views-new-arrival-sliders-block h2.block__title {
  background-color: #db6b0f;
  font-size: 1em;
  line-height: 1.5em;
  line-height: 2em;
  max-height: 35px;
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0, rgba(0, 0, 0, 0.2) 2px 2px 0, rgba(0, 0, 0, 0.2) 3px 3px 0;
  margin: 0;
  padding: 0 .75em;
}
@media all and (min-width: 550px) and (max-width: 690px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/tisch_ocelot\/sass\/_mixins\.scss}line{font-family:\0000390}}
  #block-views-new-arrival-sliders-block h2.block__title {
    font-size: 1em;
    line-height: 1.5em;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/tisch_ocelot\/sass\/styles-kate\.scss}line{font-family:\0000358}}
#block-views-new-arrival-sliders-block .view-content {
  margin-top: 1em;
  margin-left: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/tisch_ocelot\/sass\/styles-kate\.scss}line{font-family:\0000363}}
#block-views-new-arrival-sliders-block .flexslider .slides > li {
  margin-right: 0.25em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/tisch_ocelot\/sass\/styles-kate\.scss}line{font-family:\0000368}}
#block-views-new-arrival-sliders-block .flexslider .slides > li:nth-of-type(even) {
  margin-right: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/tisch_ocelot\/sass\/styles-kate\.scss}line{font-family:\0000373}}
#block-views-new-arrival-sliders-block .views-field-field-image {
  width: 95%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/tisch_ocelot\/sass\/styles-kate\.scss}line{font-family:\0000380}}
#block-views-new-arrival-sliders-block .views-field-title {
  color: #3e7bb3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/tisch_ocelot\/sass\/styles-kate\.scss}line{font-family:\0000386}}
#block-views-new-arrival-sliders-block .flexslider {
  position: relative;
  margin: 0 0 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/tisch_ocelot\/sass\/styles-kate\.scss}line{font-family:\0000393}}
#block-views-new-arrival-sliders-block .flex-control-nav {
  position: absolute;
  width: 50%;
  bottom: 107%;
  color: yellow;
  left: 60%;
}
