/**
* @file
*
* Stylesheet for Kate's styles
*
* Styles are organized using the SMACSS technique. @see http://smacss.com/book/
*/
/* Import Sass mixins, variables, Compass modules, etc. */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/tisch_ocelot\/sass\/styles-kate\.scss}line{font-family:\0000316}}
.smallerHeading, .smallerBlueHeading, .smallerBlackHeading, #block-views-new-arrival-sliders-block .smallerBlueHeading {
  font-size: 0.875em;
  line-height: 1.71429em;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 2%;
  word-break: keep-all;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/tisch_ocelot\/sass\/styles-kate\.scss}line{font-family:\0000324}}
.smallerBlueHeading {
  color: #0b3659;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/tisch_ocelot\/sass\/styles-kate\.scss}line{font-family:\0000328}}
.smallerBlackHeading {
  color: black;
}

/*Take pause, play and arrow controls off of flexslider*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/tisch_ocelot\/sass\/styles-kate\.scss}line{font-family:\0000335}}
.noControls .flex-pauseplay a, #block-views-new-arrival-sliders-block .flex-pauseplay a {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/tisch_ocelot\/sass\/styles-kate\.scss}line{font-family:\0000336}}
.noControls .flex-direction-nav, #block-views-new-arrival-sliders-block .flex-direction-nav {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/tisch_ocelot\/sass\/styles-kate\.scss}line{font-family:\0000339}}
.noBorder, #block-views-new-arrival-sliders-block .flexslider {
  border: none;
  box-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/tisch_ocelot\/sass\/styles-kate\.scss}line{font-family:\0000344}}
#block-views-new-arrival-sliders-block {
  background-image: url("../images/orangeCorner.png");
  background-position: 0 2em;
  background-repeat: no-repeat;
}
@media all and (min-width: 550px) and (max-width: 690px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/tisch_ocelot\/sass\/styles-kate\.scss}line{font-family:\0000344}}
  #block-views-new-arrival-sliders-block {
    background-position: 0 1em;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/tisch_ocelot\/sass\/_mixins\.scss}line{font-family:\0000390}}
#block-views-new-arrival-sliders-block h2.block__title {
  background-color: #db6b0f;
  font-size: 1em;
  line-height: 1.5em;
  line-height: 2em;
  max-height: 35px;
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0, rgba(0, 0, 0, 0.2) 2px 2px 0, rgba(0, 0, 0, 0.2) 3px 3px 0;
  margin: 0;
  padding: 0 .75em;
}
@media all and (min-width: 550px) and (max-width: 690px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/tisch_ocelot\/sass\/_mixins\.scss}line{font-family:\0000390}}
  #block-views-new-arrival-sliders-block h2.block__title {
    font-size: 1em;
    line-height: 1.5em;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/tisch_ocelot\/sass\/styles-kate\.scss}line{font-family:\0000346}}
#block-views-new-arrival-sliders-block .view-content {
  margin-top: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/tisch_ocelot\/sass\/styles-kate\.scss}line{font-family:\0000349}}
#block-views-new-arrival-sliders-block .views-field {
  margin: 0 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/tisch_ocelot\/sass\/styles-kate\.scss}line{font-family:\0000352}}
#block-views-new-arrival-sliders-block .views-field-field-resource-type {
  color: red;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/tisch_ocelot\/sass\/styles-kate\.scss}line{font-family:\0000355}}
#block-views-new-arrival-sliders-block .smallerBlueHeading {
  color: #0b3659;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/tisch_ocelot\/sass\/styles-kate\.scss}line{font-family:\0000360}}
#block-views-new-arrival-sliders-block .flexslider {
  margin: 0 0 60px;
  position: relative;
}
