/**
 * @file
 * Block Styling
 */

@import "base";


.block { /* Block wrapper */
  margin-bottom: 1.5em;
  //kate added font-size for block text
  font-size:.5em;
  line-height:1em;

  &.first { /* The first block in the region */
  }

  &.last { /* The last block in the region */
  }

  &.odd { /* Zebra striping for each block in the region */
  }

  &.even { /* Zebra striping for each block in the region */
  }
//font-size changed by kate
  h2.block-title { /* Block title */
  font-size:.75em;
  }
  
  li {
    list-style-type: none;
    padding: 0 1em 0 0;
    margin-left: 0;
  }
  
}


#block-aggregator-category-1 { /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 { /* Block for the latest news items in the first feed */
}

#block-block-1 { /* First block created with "Add block" link */
height:10%;
}

#block-blog-recent { /* "Recent blog posts" block */
}

#block-book-navigation { /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent { /* "Recent comments" block */
}

#block-forum-active { /* "Active forum topics" block */
}

#block-forum-new { /* "New forum topics" block */
}

#block-locale-language { /* Language switcher block */
}

#block-menu-block-1{
font-size:1em;
background-color:none;
color:white;
@media all and (min-width:700px){

  font-size:1.5em;
 }

}
//added by Kate to theme primary menu

#block-menu-block-1 {
  //background-color: black;

 & ul li {
 
    margin: 0 2.5% 0 0;
    //  background-color:black;
    color:white;

     a {
      //background-color:black;
      color:white;
    }
  }
  } 
//added by Kate to theme third-level menus in sidebars
#block-menu-block-3 

{background-color: $page-color;
  margin-left: 0px;

& ul.menu{
    position: relative; 
    float: right;
    z-index:1;
    margin-top: 10%;
    
    li {
      text-transform:uppercase;
      background-color: $page-color;
      color: black;
      border-bottom: 1px solid #ccc;
      float: left; 
      //font-size:0.7em;
      
      //margin: 5%;
      width:80%;
      a {
        padding-left: 5%;
        line-height: 3em;
        margin-bottom: 2.5%;
        color: black;
        width: 100%;
        display: inline-block;  /* IE 6 & 7 Needs Inline Block */
      }
      a:hover {

        color: orange;
        background-color: $active-menu-gray;
      }
    }  
}
}
#block-menu-menu-NAME { /* Custom menu block */
}

#block-node-recent { /* "Recent content" block */
}

#block-node-syndicate { /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent { /* "Most recent poll" block */
}

#block-profile-author-information { /* "Author information" block for the profile of the page's author */
}

//kate added this for the utility menu
#block-menu-block-2 {
 visibility:hidden;
 @media all and (min-width:600px) {
 visibility: visible;
 float:right;
 margin-top: -1%;
 }
 @media all and (min-width: 1000px){
 margin-top:-5%;
 } 
}

//kate added this for the site search
#block-search-form { /* "Search form" block */
visibility:hidden;
@media all and (min-width:600px) {
 visibility:visible;
 float:right;
 }
}

#block-shortcut-shortcuts { /* "Shortcuts" block */
}

#block-statistics-popular { /* "Popular content" block */
}

#block-system-main-menu { /* "Main menu" block */
}

#block-system-management { /* "Management" block for Drupal management menu */
}

#block-system-navigation { /* "Navigation" block for Drupal navigation menu */
}

#block-system-user-menu { /* "User menu" block for Drupal user menu */
}

#block-system-help { /* "System help" block */
}

#block-system-main { /* "Main page content" block */
}

#block-system-powered-by { /* "Powered by Drupal" block */
}

#block-user-login { /* "User login form" block */
}

#block-user-new { /* "Who's new" block for a list of the newest users */
}

#block-user-online { /* "Who's online" block for a list of the online users */
}
