$active_bg: #2C69A2;
$inactive_bg: #0B3659;
$fontcolor: #fff;
$inactive_font: #C5CCD2;
$tab_pad: 10px;

#quicktabs-home_page_search_box {
	background: $active_bg;

}

.item-list {
	margin-bottom: $tab_pad + 25;
	background: $active_bg;
	color: $active_bg;
	.quicktabs-tabs {
		margin: 0px;
		padding: 0px;

	}
	ul { 
	
		li {
		
			background: $inactive_bg;
			
			padding: {
				top: $tab_pad+2;
				bottom: $tab_pad;
			}
			
			a {
				color: $inactive_font;
				text-decoration: none;
				font-size: 2.6em;
				padding: $tab_pad;
				
			}
			
		}
		li.active {

			background: $active_bg;
			box-shadow: none;
			a { color: #fff; }
		}
		.first {
			box-shadow: -3px -2px 2px 1px #062746 inset;
			float:left;
			a{ padding: { 
				right:100px;
				}
			}
		}
		.last{
			box-shadow: 3px -2px 2px 1px #062746 inset;
			float: right;
			a{ padding: { 
				right:20px;
				}
			}
		}
	}
}
.homeSearch {
	fieldset {
		margin-left:30px;
		border: none;
		padding: 10px;
		margin-top:50px;
		
	}
	ul {
		float: right;
		li {
			display: inline;
			a {
				color: #fff;
				text-decoration: none;
				font-size: 1.5em;
			}
		}
	}
	#submit {
		background: none repeat scroll 0 0 #104C80;
		border: medium none;
		color: #fff;
	}
}

#searchtypes {
	color: #fff;
	font-size: 1.5em;
}


