
.lci_chat_load {
	background: #D6E0E9;
	border: 2px solid #6B7C83;
	width: 100%; 
<<<<<<< HEAD
	height: 210px;
=======
	//height: 210px;
>>>>>>> 444740077eb6a07cd49a4296d1b3d5aebb65b9a5
}

.lci_chat_load h2{
	font-size: 1.2em;
	color: #fff;
	background: #6B7C83;
	margin: 0px;
	padding: 0.3em;
	line-height: 1em;
	font-weight:normal;
	width: 80%;
}

.login_field {
<<<<<<< HEAD
	padding: 0.4em;
=======
	padding:0.5em;
>>>>>>> 444740077eb6a07cd49a4296d1b3d5aebb65b9a5
    input {
		box-shadow: 0 0.5px 0.5px 0.5px #EBEBEB inset;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0.7em;
		width: 90%;
	}
	textarea{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 90%;
<<<<<<< HEAD
		margin-bottom: 0.7em;
=======
		//margin-bottom: 0.7em;
>>>>>>> 444740077eb6a07cd49a4296d1b3d5aebb65b9a5
		resize:none;
	}
}
.lc_button {
    background:#85949B;
	color: #fff;
    border-radius: 2px;
	cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    height: 2em;
    padding: 3px 5px;
	margin: 0 1em;
    vertical-align: middle;
<<<<<<< HEAD
	float: right;
	border:#85949B;
}

=======
	border:#85949B;
}
.send_button {
	margin:0.5em;
}
>>>>>>> 444740077eb6a07cd49a4296d1b3d5aebb65b9a5

