#quicktabs-home_page_search_box {
	background: #24578C;
}
.homeSearch {
	ul {
		float: right;
		li {
			display: inline;
			a {
				color: #fff;
				text-decorations: none;
				
			}
		}
	}
}
.item-list ul {
	margin: 0px;
	padding: 0px;
	li {
		background: #0B3659;
		padding: 0px;
		a {
			color: #9EB0BE;
			text-decorations: none;
		}
	}
	li.active {
		background: #24578C;
		color: #fff;
	}
 
}
#searchtypes {
	color: #fff;
}
.homeSearch #submit {
    background: none repeat scroll 0 0 #104C80;
    border: medium none;
    color: white;
}
#quicktabs-home_page_search_box {
    background: #255C92;
}

#quicktabs-home_page_search_box {
	background: #24578C;
}
.homeSearch ul{

		float: right;
}

.homeSearch ul li {
			display: inline;
color: white;
	}

#searchtypes {
	color: white;
}
#quicktabs-home_page_search_box {
    background: #255C92;
}

.homeSearch ul li a {
color : white;
}