/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";


/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
  //background-color: $page-color;
  background-image: url("../images/background.png");
  //background-position: 25% 75%;
}

#page {
//background-color: $page-color;
 background-image: url("../images/background.png");
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/*
 * Header
 */

#header {
  @include background-image(linear-gradient(left, $tufts-classic, $tufts-info-blue)); 
 
}

#logo { /* Wrapping link for logo */
  float: left;
  margin: 0;
  padding: 0;

  img {
    vertical-align: bottom;
  }
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;

  a:link,
  a:visited {
    color: #000;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 3em 0 0 0;
  font-size: 1em;
  color: white;
  font-weight: normal;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
  //display: inline;
  
}

#askHeader {
  float: right;
}

/*
 * Main (container for everything else)
 */

#main {
}

/*
 * Content
 */

#content {

  .titleContainer{
    margin-top: $vertical-content-amount;
    border-top: 2px $heading-orange solid;
    background-color:white;
    padding-left: $padding-amount;
    @include box-shadow(gray 1px 1px 7px);
    h1 {
      @include adjust-font-size-to (40px);
      color: $heading-orange;
      font-weight: normal;
      text-transform: uppercase; 
    }
  }

  .breadcrumb{
    @include adjust-font-size-to (12px);
    a {color: $active-menu-gray; 
      text-decoration: none;
    }
  }
  .title {

    background-color:white;
    margin-bottom: $vertical-content-amount;
  

  }
  //background-color: 
  background-image: url("../images/background.png");

//home page  - search box
#quicktabs-home_page_search_box {
  border: 1px black solid;
  box-shadow: none;

 }
}



//home page -highlight region
.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Cmment title */
  margin: 0;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */

  .field.field-name-body{
    margin-bottom: $vertical-content-amount;
    padding: 2%;
     //@include box-shadow(gray 1px 1px 7px);
  }

  .block-panels-mini{
  padding: $padding-amount;
}
}

#mobile-hours {
  background: gainsboro;
  
  @media all and (min-width:480px){
    display: none;
  }
}

.lowerMainContent {

@media all and (max-width:480px){
  display:none
}

  float: left;
  margin: 0 0.5% 2% 0;
  padding: 0;
  width: 48%;
  border: $light-gray 1px dashed;

  h4 {
    margin: 0px 0px 2px 0px;
    
  }

  ul {
    list-style-type:none;
    margin: 0px 0px 1% 0px;
    padding:0px;
  }

  
 



  
}

.lastBlock {
  margin-left:1.2%;
  border: 1px dashed $light-gray;
  float: right;
}


/*KB added some grid items for the highlight area on the home page*/

@media all and (max-width:480px){
  #highlightArea {
  display: none;
  }
}

@media all and (min-width: 480px) and (max-width: 750px) {
#highlightArea {
  $zen-column-count:1;
  $zen-gutter-width: 1%;
}

.region-highlight-one, .region-highlight-two, .region-highlight-three {
  height: 150px;
  border: 1px blue dotted;
  
}
.region-highlight-one {
  @include zen-clear();
  @include zen-grid-item(1, 1);
}

.region-highlight-two {
  @include zen-clear();
  @include zen-grid-item(1, 1);
} 

.region-highlight-three{
@include zen-clear();
@include zen-grid-item(1, 1);
 
}

}




/*end narrow screen for homepage highlight area, start larger screen */
@media all and (min-width: 751px) {
#highlightArea {
@include zen-clear();
   $zen-column-count: 3;
  $zen-gutter-width: 10px;
  @include zen-grid-container;
  width: 99.5%;
  margin: 0 auto;

.region-highlight-one, .region-highlight-two, .region-highlight-three {
  background-color: $light-gray;
}
.region-highlight-one {
  @include zen-grid-item(1, 1);
  border-right:5px solid white;

}

.region-highlight-two {
  @include zen-grid-item(1, 2);
  border-right:2.5px solid white;
  border-left: 2.5px solid white;

} 

.region-highlight-three{
@include zen-grid-item(1, 3);
  border-left:5px solid white;
}
}
}

/**
*#highlightArea {
*  float:left;
*  
*}
*.region-highlight-one, .region-highlight-two, .region-highlight-three{
* background-color: $light-gray;
*  width:30%;
*  float: left;
*  margin: 0;
*  padding: 1%;
*  max-height: 125px;
*  margin-bottom: 1%;
*
*}
*
*
*.region-highlight-three, .region-highlight-two {
*  margin-left: 2%;
*}
*/
ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0;
  }
}
span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;

  li { /* Each page number in the pager list */
    padding: 0 0.5em;
  }
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */


.region-sidebar-first {
  outline: none;

  .frontHours{
    //hide sidebar hours on smaller screen, see #mobile-hours
    //for hours on mobile screen.
    @media all and (max-width:480px){
      display:none;
    }
  }
}

.region-sidebar-first, .region-sidebar-second {
 //font-size: 0.5em;

   
}

.frontSideBlock {
  background-color: $light-gray;
  padding: 0.5px 1px 0.5px 5px;
  margin: 5px 0px 10px 0px;
}

#frontLeftSide {
  //font-size:0.75em;

  ul li {
  list-style: none;
  }
  a {
  text-decoration: none;
  }
 } 
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
@include adjust-font-size-to (12px);


  .block-title{
 @include background-image(linear-gradient($heading-orange, lighten($heading-orange, 20%)));
   //@include adjust-font-size-to (20px);
   //above didn't work, so resorting to:
   
   text-transform: uppercase;
   font-weight:normal;
    padding-left: 1%;  
      color: white;
      @include single-text-shadow;
    border-bottom: $heading-orange 1px solid;
    }

.field-content{
  padding: 2%;
}


}

.lci_chat_load {
//hide chat on smaller screens
  @media all and (max-width:480px){
      display:none;
    }

    @media all and (min-width:481px){
      margin-top: $vertical-amount;
    }
}

.happening {

  div {
   background-color: white;
  }

  background-color:$page-color;

  //hr {border-color: $light-gray;
  //border-style: dashed;
  //border-width: 1px 0 0;
  //clear: both;
  //margin: 0 0 20px;
  //height: 0;
  //}
}

#block-views-recently-arrived-block-block, {

//hide recentArrivals on smaller screen, 
    @media all and (max-width:480px){
      display:none;
    }

}
/*
 * Footer
 */

.mobileResources {
//hide mobileResources on bigger screens
@media all and (min-width:480px){
      display:none;
    }


}

#footer {

  .empty{
    display:none;
  }

   @include adjust-font-size-to (12px);
  line-height: 1.5em;

  background-color: $footer-gray;
  color: $light-gray;
  

    h3 {
      @include adjust-font-size-to (13px);
    color: white;
    text-transform: uppercase;
    //font-weight:normal;
    margin-bottom: 0px;
  }

  ul {
    margin:0 0 0 3%;
    padding:0 0 0 2%;
  }
  li a {
    color: $light-gray;
    text-decoration: none;
    
  }

}

  @media all and (min-width: 480px)  {
   #footer{ 
   @include zen-clear();
   $zen-column-count: 7;
  $zen-gutter-width: 10px;
  @include zen-grid-container;
  width: 100%;

  div {
    background-image: url("../images/nav.png");
    background-repeat: no-repeat;

    background-position: right 0px top 10px;
    
   
    }
    div:last-child{
    background-image:none;
    
    }
  
  #footerLogo{/* Span 1 columns, starting in 1st column from left. */
   
  @include zen-grid-item(1, 1);
  //width: 15%

  }
  
  #otherFooterLibs {/* Span 1 columns, starting in 2nd column from left. */
  
  @include zen-grid-item(2, 2);
  ul {
    
  
  }

  //width: 25%;
  }

  #otherFooterTufts {/* Span 1 column, starting in 4th column from left. */
  @include zen-grid-item(1, 4);
  //width: 25%
  }
  
  #footerContact {/* Span 1 columns, starting in 5th column from left. */
  @include zen-grid-item(1, 5);
  p.address{
    margin:0px;
  }
  p {
    margin:0.5em 0 0.5em 0;
  }
  //width: 25%;
  }

  #footerSocial {/* Span 2 columns, starting in 6th column from left. */
  //width: 25%;
  @include zen-grid-item(2, 6);
  }


}//endfooter large screen

}//end larger screen
  
  

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}

