
#siteNavigation a									{ text-decoration: none; }

/* LEVEL ONE */
#siteNavigation ul.menu {
 position: relative; 
    li { 
	   padding-left:5px; 
	   padding-right:5px; 
	   float: left; 
	   background: #fff;
		a {
		   display: block;
		   color: #222;
		   }
	   }
	a:hover { color: #000; }
	a:active { color: #fff; }
	li.hover, li:hover {
        background: #ccc;
		color: black; 
		position: relative; 
		}
	li.hover a { color: black; }
	
/*LEVEL TWO*/	
	ul {
		width: 220px;
		visibility: hidden; 
		position: absolute; 
		left: 0; 
		li {
			background: #f6f6f6;
			color: #000; 
			border-bottom: 1px solid #ccc;
			float: none; 
			font-size:0.7em;
			padding:5px;
			margin:0px;
			a {
			  width: 100%;
			  display: inline-block;  /* IE 6 & 7 Needs Inline Block */
			}
		}
    }
 }

/*LEVEL THREE*/
#siteNavigation ul.menu ul ul 					{ left: 100%; top: 0; }
#siteNavigation ul.menu li:hover > ul 			{ visibility: visible; }


