
//Layout for the menu below. For further theming, see blocks.scss - KB

#siteNavigation {
	@media all and (max-width:480px){
  display:none;
}
}

#siteNavigation a									{ text-decoration: none; }

/* LEVEL ONE */
#siteNavigation ul.menu {
	text-transform:Uppercase;
 position: relative; 
    li { 
	   padding-left:5px; 
	   padding-right:5px; 
	   float: left; 
	   //b
		a {
		   display: block;
		   //color: white;
		   }
	   }
	
	li.hover, li:hover {
        
		position: relative; 
		}
	
	
/*LEVEL TWO*/	
	ul {
		width: 220px;
		visibility: hidden; 
		position: absolute; 
		z-index:9999;
		left: 0; 

		li {
			background: #f6f6f6;
			//color: #000;
			border-bottom: 1px solid #ccc;
			float: none; 
			font-size:0.7em;
			padding:5px;
			margin:0px;
			a {
			  width: 100%;
			  display: inline-block;  /* IE 6 & 7 Needs Inline Block */
			}
		}
    }
 }

/*LEVEL THREE*/
#siteNavigation ul.menu ul ul 					{ left: 100%; top: 0; }

#siteNavigation ul.menu li:hover > ul 			{ visibility: visible; }


