/**
 * @file
 * Views Styling
 */

@import "base";
@include font-face ("Circle Things", font-files("circlethings.woff", "circlethings.ttf", "circlethings.eot"));

/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */

 //added for circle font used in pagers
.views-slideshow-controls-top {
  //position:absolute;
  //right:0;
  //top: -2.4em;
  //width: 5em;
  div {
    display: inline;
  }
  .views-content-nothing {
    color: $pager_item_grey;
    cursor: pointer;
    font-family: "Circle Things";
    font-size: 9px;
  }
  .active .views-content-nothing {
    color: $pager_item_active;
  }
}
.views-displays .secondary {

  li {
    float: none;
    margin: 0 6px 0;
  }

  a:link,
  a:visited {
    @include single-text-shadow(none);
    padding: 2px 7px 3px;
  }

  .open > a {
    @include border-radius(7px 7px 0 0);
    &:hover {
      color: #333;
    }
  }

  .action-list li {
    margin: 0;
    &:first-child {
      @include border-radius(0 7px 0 0);
    }
    &:last-child {
      @include border-radius(0 0 7px 7px);
    }
  }




}
