/* line 1, ../sass/catalog_search.scss */
#quicktabs-home_page_search_box {
  background: #24578C;
  padding: 10px;
}

/* line 6, ../sass/catalog_search.scss */
.item-list ul {
  margin: 0px;
  padding: 0px;
}
/* line 9, ../sass/catalog_search.scss */
.item-list ul li {
  background: #0B3659;
  padding: 0px;
}
/* line 12, ../sass/catalog_search.scss */
.item-list ul li a {
  color: #9EB0BE;
  text-decoration: none;
  font-size: 1.5em;
}
/* line 18, ../sass/catalog_search.scss */
.item-list ul li.active {
  background: #24578C;
}
/* line 20, ../sass/catalog_search.scss */
.item-list ul li.active a {
  color: #fff;
}

/* line 25, ../sass/catalog_search.scss */
.homeSearch ul {
  float: right;
}
/* line 27, ../sass/catalog_search.scss */
.homeSearch ul li {
  display: inline;
}
/* line 29, ../sass/catalog_search.scss */
.homeSearch ul li a {
  color: #fff;
  text-decoration: none;
}
/* line 35, ../sass/catalog_search.scss */
.homeSearch #submit {
  background: none repeat scroll 0 0 #104C80;
  border: medium none;
  color: white;
}

/* line 42, ../sass/catalog_search.scss */
#searchtypes {
  color: #fff;
}
