/* line 7, ../sass/catalog_search.scss */
#quicktabs-home_page_search_box {
  background: #2c69a2;
}

/* line 12, ../sass/catalog_search.scss */
.item-list {
  margin-bottom: 35px;
  background: #2c69a2;
  color: #2c69a2;
}
/* line 16, ../sass/catalog_search.scss */
.item-list .quicktabs-tabs {
  margin: 0px;
  padding: 0px;
}
/* line 25, ../sass/catalog_search.scss */
.item-list ul li {
  background: #0b3659;
  padding-top: 12px;
  padding-bottom: 10px;
}
/* line 33, ../sass/catalog_search.scss */
.item-list ul li a {
  color: #c5ccd2;
  text-decoration: none;
  font-size: 2.6em;
  padding: 10px;
}
/* line 42, ../sass/catalog_search.scss */
.item-list ul li.active {
  background: #2c69a2;
}
/* line 45, ../sass/catalog_search.scss */
.item-list ul li.active a {
  color: #fff;
}
/* line 47, ../sass/catalog_search.scss */
.item-list ul .first {
  float: left;
}
/* line 50, ../sass/catalog_search.scss */
.item-list ul .first a {
  padding-right: 100px;
}
/* line 54, ../sass/catalog_search.scss */
.item-list ul .last {
  float: right;
}
/* line 57, ../sass/catalog_search.scss */
.item-list ul .last a {
  padding-right: 20px;
}

/* line 62, ../sass/catalog_search.scss */
.homeSearch fieldset {
  margin-left: 30px;
  border: none;
  padding: 10px;
  margin-top: 50px;
}
/* line 69, ../sass/catalog_search.scss */
.homeSearch ul {
  float: right;
}
/* line 71, ../sass/catalog_search.scss */
.homeSearch ul li {
  display: inline;
}
/* line 73, ../sass/catalog_search.scss */
.homeSearch ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}
/* line 80, ../sass/catalog_search.scss */
.homeSearch #submit {
  background: none repeat scroll 0 0 #104C80;
  border: medium none;
  color: #fff;
}

/* line 87, ../sass/catalog_search.scss */
#searchtypes {
  color: #fff;
  font-size: 1.5em;
}
