/* line 7, ../sass/catalog_search.scss */
#quicktabs-home_page_search_box {
  background: #2c69a2;
}

/* line 12, ../sass/catalog_search.scss */
.item-list {
  margin-bottom: 35px;
  background: #2c69a2;
  color: #2c69a2;
}
/* line 16, ../sass/catalog_search.scss */
.item-list .quicktabs-tabs {
  margin: 0px;
  padding: 0px;
}
/* line 23, ../sass/catalog_search.scss */
.item-list ul li {
  background: #0b3659;
  padding-top: 12px;
  padding-bottom: 10px;
}
/* line 32, ../sass/catalog_search.scss */
.item-list ul li a {
  color: #c5ccd2;
  text-decoration: none;
  font-size: 2.6em;
  padding: 10px;
}
/* line 41, ../sass/catalog_search.scss */
.item-list ul li.active {
  background: #2c69a2;
  box-shadow: none;
}
/* line 45, ../sass/catalog_search.scss */
.item-list ul li.active a {
  color: #fff;
}
/* line 47, ../sass/catalog_search.scss */
.item-list ul .first {
  box-shadow: -3px -2px 2px 1px #062746 inset;
  float: left;
}
/* line 50, ../sass/catalog_search.scss */
.item-list ul .first a {
  padding-right: 100px;
}
/* line 55, ../sass/catalog_search.scss */
.item-list ul .last {
  box-shadow: 3px -2px 2px 1px #062746 inset;
  float: right;
}
/* line 58, ../sass/catalog_search.scss */
.item-list ul .last a {
  padding-right: 20px;
}

/* line 66, ../sass/catalog_search.scss */
.homeSearch fieldset {
  margin-left: 30px;
  border: none;
  padding: 10px;
  margin-top: 50px;
}
/* line 73, ../sass/catalog_search.scss */
.homeSearch ul {
  float: right;
}
/* line 75, ../sass/catalog_search.scss */
.homeSearch ul li {
  display: inline;
}
/* line 77, ../sass/catalog_search.scss */
.homeSearch ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}
/* line 84, ../sass/catalog_search.scss */
.homeSearch #submit {
  background: none repeat scroll 0 0 #104C80;
  border: medium none;
  color: #fff;
}

/* line 91, ../sass/catalog_search.scss */
#searchtypes {
  color: #fff;
  font-size: 1.5em;
}
