/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
/* line 17, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
  background-color: #e5e4e2;
}

/* line 23, ../sass/pages.scss */
#page {
  background-color: #e5e4e2;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 32, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 36, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 50, ../sass/pages.scss */
#header {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #6699cc), color-stop(100%, #3172ae));
  background-image: -webkit-linear-gradient(left, #6699cc, #3172ae);
  background-image: -moz-linear-gradient(left, #6699cc, #3172ae);
  background-image: -o-linear-gradient(left, #6699cc, #3172ae);
  background-image: linear-gradient(left, #6699cc, #3172ae);
}

/* line 55, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  float: left;
  margin: 0;
  padding: 0;
}
/* line 60, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 65, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

/* line 69, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
/* line 75, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
/* line 81, ../sass/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

/* line 86, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/* line 91, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
}

/* line 95, ../sass/pages.scss */
#askHeader {
  float: right;
}

/*
 * Main (container for everything else)
 */
/*
 * Content
 */
/* line 110, ../sass/pages.scss */
#content {
  background-color: white;
}
/* line 113, ../sass/pages.scss */
#content #quicktabs-home_page_search_box {
  border: 1px black solid;
}

/* line 122, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 123, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 127, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 140, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 144, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 148, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 152, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 155, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 161, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 165, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 170, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 173, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 177, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 181, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 184, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 187, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 190, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 193, ../sass/pages.scss */
#mobile-hours {
  background: gainsboro;
}
@media all and (min-width: 480px) {
  /* line 193, ../sass/pages.scss */
  #mobile-hours {
    display: none;
  }
}

/* line 201, ../sass/pages.scss */
.lowerMainContent {
  float: left;
  margin: 0 0.5% 2% 0;
  padding: 0;
  width: 48%;
  border: gainsboro 1px dashed;
}
@media all and (max-width: 480px) {
  /* line 201, ../sass/pages.scss */
  .lowerMainContent {
    display: none;
  }
}
/* line 213, ../sass/pages.scss */
.lowerMainContent h4 {
  margin: 0px 0px 2px 0px;
}
/* line 218, ../sass/pages.scss */
.lowerMainContent ul {
  list-style-type: none;
  margin: 0px 0px 1% 0px;
  padding: 0px;
}

/* line 232, ../sass/pages.scss */
.lastBlock {
  margin-left: 1.2%;
  border: 1px dashed gainsboro;
  float: right;
}

/*KB added some grid items for the highlight area on the home page*/
@media all and (max-width: 480px) {
  /* line 242, ../sass/pages.scss */
  #highlightArea {
    display: none;
  }
}
@media all and (min-width: 480px) and (max-width: 750px) {
  /* line 253, ../sass/pages.scss */
  .region-highlight-one, .region-highlight-two, .region-highlight-three {
    height: 150px;
    border: 1px blue dotted;
  }

  /* line 258, ../sass/pages.scss */
  .region-highlight-one {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 263, ../sass/pages.scss */
  .region-highlight-two {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 268, ../sass/pages.scss */
  .region-highlight-three {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
/*end narrow screen for homepage highlight area, start larger screen */
@media all and (min-width: 751px) {
  /* line 281, ../sass/pages.scss */
  #highlightArea {
    clear: left;
    width: 99.5%;
    margin: 0 auto;
  }
  /* line 52, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  #highlightArea:before, #highlightArea:after {
    content: "";
    display: table;
  }
  /* line 56, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  #highlightArea:after {
    clear: both;
  }
  /* line 289, ../sass/pages.scss */
  #highlightArea .region-highlight-one, #highlightArea .region-highlight-two, #highlightArea .region-highlight-three {
    background-color: gainsboro;
  }
  /* line 292, ../sass/pages.scss */
  #highlightArea .region-highlight-one {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    border-right: 5px solid white;
  }
  /* line 298, ../sass/pages.scss */
  #highlightArea .region-highlight-two {
    float: left;
    width: 33.33333%;
    margin-left: 33.33333%;
    margin-right: -66.66667%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    border-right: 2.5px solid white;
    border-left: 2.5px solid white;
  }
  /* line 305, ../sass/pages.scss */
  #highlightArea .region-highlight-three {
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    border-left: 5px solid white;
  }
}
/**
*#highlightArea {
*  float:left;
*  
*}
*.region-highlight-one, .region-highlight-two, .region-highlight-three{
* background-color: $light-gray;
*  width:30%;
*  float: left;
*  margin: 0;
*  padding: 1%;
*  max-height: 125px;
*  margin-bottom: 1%;
*
*}
*
*
*.region-highlight-three, .region-highlight-two {
*  margin-left: 2%;
*}
*/
/* line 333, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 337, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
}

/* line 343, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
}

/* line 347, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 350, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 355, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 358, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/* line 369, ../sass/pages.scss */
.region-sidebar-first {
  outline: none;
}
@media all and (max-width: 480px) {
  /* line 372, ../sass/pages.scss */
  .region-sidebar-first .frontHours {
    display: none;
  }
}

/* line 387, ../sass/pages.scss */
.frontSideBlock {
  background-color: gainsboro;
  padding: 0.5px 1px 0.5px 5px;
  margin: 5px 0px 10px 0px;
}

/* line 396, ../sass/pages.scss */
#frontLeftSide ul li {
  list-style: none;
}
/* line 399, ../sass/pages.scss */
#frontLeftSide a {
  text-decoration: none;
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/* line 416, ../sass/pages.scss */
.happening hr {
  border-color: gainsboro;
  border-style: dashed;
  border-width: 1px 0 0;
  clear: both;
  margin: 0 0 20px;
  height: 0;
}

@media all and (max-width: 480px) {
  /* line 425, ../sass/pages.scss */
  .recentArrival {
    display: none;
  }
}

/*
 * Footer
 */
@media all and (min-width: 480px) {
  /* line 437, ../sass/pages.scss */
  .mobileResources {
    display: none;
  }
}

/*
 * Page bottom
 */
/* line 453, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}
