@media all and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/selbert\/sass\/primary-menu-block\.scss}line{font-family:\000034}}
  #siteNavigation {
    display: none;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/selbert\/sass\/primary-menu-block\.scss}line{font-family:\0000310}}
#siteNavigation a {
  text-decoration: none;
}

/* LEVEL ONE */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/selbert\/sass\/primary-menu-block\.scss}line{font-family:\0000313}}
#siteNavigation ul.menu {
  text-transform: Uppercase;
  position: relative;
  /*LEVEL TWO*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/selbert\/sass\/primary-menu-block\.scss}line{font-family:\0000316}}
#siteNavigation ul.menu li {
  padding-left: 5px;
  padding-right: 5px;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/selbert\/sass\/primary-menu-block\.scss}line{font-family:\0000321}}
#siteNavigation ul.menu li a {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/selbert\/sass\/primary-menu-block\.scss}line{font-family:\0000327}}
#siteNavigation ul.menu li.hover, #siteNavigation ul.menu li:hover {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/selbert\/sass\/primary-menu-block\.scss}line{font-family:\0000334}}
#siteNavigation ul.menu ul {
  width: 220px;
  visibility: hidden;
  position: absolute;
  z-index: 9999;
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/selbert\/sass\/primary-menu-block\.scss}line{font-family:\0000341}}
#siteNavigation ul.menu ul li {
  background: #f6f6f6;
  border-bottom: 1px solid #ccc;
  float: none;
  font-size: 0.7em;
  padding: 5px;
  margin: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/selbert\/sass\/primary-menu-block\.scss}line{font-family:\0000348}}
#siteNavigation ul.menu ul li a {
  width: 100%;
  color: black;
  display: inline-block;
  /* IE 6 & 7 Needs Inline Block */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/selbert\/sass\/primary-menu-block\.scss}line{font-family:\0000353}}
#siteNavigation ul.menu ul li a:hover {
  color: orange;
}

/*LEVEL THREE*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/selbert\/sass\/primary-menu-block\.scss}line{font-family:\0000361}}
#siteNavigation ul.menu ul ul {
  left: 100%;
  top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/forSelbert\/Tisch-Web-Dev\/drupal\/sites\/all\/themes\/selbert\/sass\/primary-menu-block\.scss}line{font-family:\0000363}}
#siteNavigation ul.menu li:hover > ul {
  visibility: visible;
}
