@media all and (max-width: 480px) {
  /* line 4, ../sass/primary-menu-block.scss */
  #siteNavigation {
    display: none;
  }
}

/* line 10, ../sass/primary-menu-block.scss */
#siteNavigation a {
  text-decoration: none;
}

/* LEVEL ONE */
/* line 13, ../sass/primary-menu-block.scss */
#siteNavigation ul.menu {
  text-transform: Uppercase;
  position: relative;
  /*LEVEL TWO*/
}
/* line 16, ../sass/primary-menu-block.scss */
#siteNavigation ul.menu li {
  padding-left: 5px;
  padding-right: 5px;
  float: left;
}
/* line 21, ../sass/primary-menu-block.scss */
#siteNavigation ul.menu li a {
  display: block;
}
/* line 27, ../sass/primary-menu-block.scss */
#siteNavigation ul.menu li.hover, #siteNavigation ul.menu li:hover {
  position: relative;
}
/* line 34, ../sass/primary-menu-block.scss */
#siteNavigation ul.menu ul {
  width: 220px;
  visibility: hidden;
  position: absolute;
  z-index: 9999;
  left: 0;
}
/* line 41, ../sass/primary-menu-block.scss */
#siteNavigation ul.menu ul li {
  background: #f6f6f6;
  border-bottom: 1px solid #ccc;
  float: none;
  font-size: 0.7em;
  padding: 5px;
  margin: 0px;
}
/* line 49, ../sass/primary-menu-block.scss */
#siteNavigation ul.menu ul li a {
  width: 100%;
  display: inline-block;
  /* IE 6 & 7 Needs Inline Block */
}

/*LEVEL THREE*/
/* line 58, ../sass/primary-menu-block.scss */
#siteNavigation ul.menu ul ul {
  left: 100%;
  top: 0;
}

/* line 60, ../sass/primary-menu-block.scss */
#siteNavigation ul.menu li:hover > ul {
  visibility: visible;
}
