
#siteNavigation a									{ text-decoration: none; }
/* LEVEL ONE */
#siteNavigation ul.menu                         { position: relative; }
#siteNavigation ul.menu li { padding-left:5px; padding-right:5px; float: left; background: #fff;}
#siteNavigation ul.menu a:hover		            { color: #000; }
#siteNavigation ul.menu a:active                { color: #fff; }
#siteNavigation ul.menu li a                    { display: block; padding: 10px; color: #222; }
#siteNavigation ul.menu li.hover,
#siteNavigation ul.menu li:hover                { background: #ccc; color: black; position: relative; }
#siteNavigation ul.menu li.hover a              { color: black; }


/*LEVEL TWO*/
#siteNavigation ul.menu ul 			{ width: 220px; visibility: hidden; position: absolute; left: 0; }
#siteNavigation ul.menu ul li 					{  background: #f6f6f6; color: #000; 
									  border-bottom: 1px solid #ccc; float: none; }
									  
                                    /* IE 6 & 7 Needs Inline Block */
#siteNavigation ul.menu ul li a					{ border-right: none; width: 100%; display: inline-block; } 

/*LEVEL THREE*/
#siteNavigation ul.menu ul ul 					{ left: 100%; top: 0; }
#siteNavigation ul.menu li:hover > ul 			{ visibility: visible; }

