/* line 1, ../sass/right-sidebar.scss */
.region.region-sidebar-first.column.sidebar {
  font-size: 1.5em;
}

/* line 4, ../sass/right-sidebar.scss */
#frontLeftSide {
  font-size: 0.5em;
}

/* line 7, ../sass/right-sidebar.scss */
div.view.view-recently-arrived-books.view-id-recently_arrived_books {
  padding: 0px;
}

/* line 11, ../sass/right-sidebar.scss */
.happening {
  background: none repeat scroll 0 0 #DC721A;
  box-shadow: 0.2em 0.2em 1px 0.5px #CCCCCC;
}

/* line 16, ../sass/right-sidebar.scss */
.happening > h3 {
  color: #fff;
  font-size: 2.5em;
  margin: 0;
  padding-bottom: 0.2em;
  padding-left: 0.5em;
  padding-top: 0.2em;
}

/* line 26, ../sass/right-sidebar.scss */
.happening h4 {
  margin: 0.5em;
}

/* line 30, ../sass/right-sidebar.scss */
.happening div {
  padding: 1em;
  background: #fff;
  font-size: 1.5em;
}

/* line 35, ../sass/right-sidebar.scss */
.happening div div {
  font-size: 1em;
}

/* line 38, ../sass/right-sidebar.scss */
.view.view-recently-arrived-books.view-content div {
  padding: 0px;
}

/* line 43, ../sass/right-sidebar.scss */
.happening hr {
  background: #ebebeb;
  margin: 0;
}

/* line 48, ../sass/right-sidebar.scss */
.view-content {
  padding: 0.4em;
}
/* line 50, ../sass/right-sidebar.scss */
.view-content div {
  padding: 0.4em;
}

/* line 55, ../sass/right-sidebar.scss */
.field-content {
  display: inline;
}
